@model UserCreateModel
@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-8">
        <div class="mt-5">
            <form asp-action="SignUp" asp-controller="Account" method="post" class="p-4 w-75 mx-auto">
                <div class="mb-3">
                    <label>Adınız :</label>
                    <input class="form-control" asp-for="@Model.Firstname" />
                </div>
                <div class="mb-3">
                    <label>Soyadınız :</label>
                    <input class="form-control" asp-for="@Model.Surname" />
                </div>
                <div class="mb-3">
                    <label>Kullanıcı adınız :</label>
                    <input class="form-control" asp-for="@Model.Username" />
                </div>
                <div class="mb-3">
                    <label>Email :</label>
                    <input class="form-control" asp-for="@Model.Email" />
                </div>
                <div class="mb-3">
                    <select class="form-select" asp-items="@Model.Genders" asp-for="@Model.GenderId">
                        <option value="0">
                            Bir cinsiyet seçiniz.
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label>Şifreniz :</label>
                    <input type="password" class="form-control" asp-for="@Model.Password" />
                </div>
                <div class="mb-3">
                    <label>Şifreniz tekrar :</label>
                    <input type="password" class="form-control" asp-for="@Model.ConfirmPassword" />
                </div>
                <div class="mb-3 text-end">
                    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-4" style="margin-top:100px">
        <div class="text-danger text-center" asp-validation-summary="All">
        </div>
    </div>
</div>


<!--
<div class="col-4 mt-5">
    <div><img style="margin-top:50px; width:700px; height:500px" src="~/images/SignUpImg.jpg" /></div>
</div>
    -->
